<html>

<head>
     <!-- Design by foolishdeveloper.com -->


    <meta name="viewport" content="width=device-width"/>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
            
            /*background-color:aliceblue;            */
             }
       .hide{
            display:none;
            }


        style{
            background:#000000;
            color:#F0F8FF;
        }
        label{
            color:aliceblue;
        }
        .float-child {
        padding: 20px;
        
    </style>
</head>
<body>


             <div class="float-container">
                  <div class="row">
                        <div class="col-md-5">
                            <div class="float-child">
                                <label > Select </label>  
                                    <select name="List" class="form-control" style="background:#000000; color:#F0F8FF" asp-items="@ViewBag.users" > </select>
                                    <input type="submit" style="background:#F0F8FF; color:#000000" value="Edit" onclick="onButtonClick()"/> 

                                    <input class="hide" type="text" id="textInput" value="First Name " style="background:#000000; color:#F0F8FF"  />
                                    <input class="hide" type="text" id="textInput1" value="Second Name " style="background:#000000; color:#F0F8FF"   />
                                    <input class="hide" type="text" id="textInput2" value="Last Name " style="background:#000000; color:#F0F8FF"  />
                        
                                    <script>function onButtonClick(){
                                          document.getElementById('textInput').className="show",
                                          document.getElementById('textInput1').className="show",
                                          document.getElementById('textInput2').className="show";
                                        }
                                   </script>
                            </div>
                     </div>
                 </div>      
                </div>




</body>
</html>