<html>

<head>
     <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
    @*<link rel="preconnect" href="https://fonts.gstatic.com">*@
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">*@
    @*<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">*@

    <meta name="viewport" content="width=device-width"/>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
            /*background-color:aliceblue;            */
        }
      label{
          color:aliceblue;
      }

    </style>
</head>
<body>
  <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label > Select </label>
                    
                    <select name="List"  class="form-control" asp-items="@ViewBag.users" > </select>
                    @*style="background:#F0FFFF; color: black"*@
                    <input type="submit" />
                    @*<script>
                       $('.List').change(function () {
                        $(this).find('option').css('color', '');
                        $(this).find('option:selected').css('color', '#ff0000');
                    }).trigger('change');
                    </script>*@

            </div>
        </div>
   </div>
</body>
</html>