@model  WebApplication2.Services.UserManager

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
<h1>ИМА ВЕЧЕ ВЪВЕДЕНИ ДАННИ!МОЛЯ ОПИТАЙТЕ ПАК!СТРАНИЦАТА ЩЕ СЕ ЗАТВОРИ СЛЕД НЯКОЛКО СЕКУНДИ...</h1>
<script>
        function autoRefresh() {
            window.location.href="Home/Index";
        }
        setInterval('autoRefresh()', 10000);
    </script> 

        

</body>
</html>
