<style media="screen" >
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #080710;
    font: 16px/1.6 Helvetica;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body > nav {
    margin: 0 !important;
}

.border-form-wrapper {
    border: 1px solid;
    border-radius: 4px;
    margin: auto;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.5rem;
}

option {
    color: aliceblue;
}
.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

    .background .shape {
        height: 200px;
        width: 200px;
        position: absolute;
        border-radius: 50%;
    }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

select {
    border: none !important;
}

form {
    display: flex;
    flex-direction: column;
    height: 65vh;
    width: 50vw;
    max-width: 400px;
    background-color: rgba(40,40,40,0.99);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    padding: 30px 20px;
}

    form button[type='submit'] {
        font-size: 14px;
        padding: 10px;
        transition: background-color 0.3s ease;
    }

        form button[type='submit']:hover {
            background-color: #a7a7a7;
        }



    form * {
        font-family: 'Poppins',sans-serif;
        color: #ffffff;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }

    form h3 {
        text-align: center;
    }

label {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
}

input {
    display: block;
   min-height: 40px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 4px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border: none;
}

    input[type="submit"] {
        margin-top: 40px;
    }

::placeholder {
    color: #e5e5e5;
}

button {
    margin-top: auto;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.social {
    margin-top: 30px;
    display: flex;
}


.container {
    display: flex;
    flex: 1;
    margin: 0;
    max-width: unset;
    background: url('https://wallpaperaccess.com/full/2053068.png');
    background-position: center;
    background-repeat: no-repeat;
}

.container > main {
    display: flex;
    flex: 1;
}

    .social div {
        background: red;
        width: 150px;
        border-radius: 3px;
        padding: 5px 10px 10px 5px;
        background-color: rgba(255,255,255,0.27);
        color: #eaf0fb;
        text-align: center;
    }

        .social div:hover {
            background-color: rgba(255,255,255,0.47);
        }

    .social .fb {
        margin-left: 25px;
    }

    .social i {
        margin-right: 4px;
    }
footer {
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding: 16px;
}
</style >